

iframe{
  width: 100%;
  height: 60vw;
  margin-bottom: -10vh;
  border: none;
}
@media screen and (max-width:1109px){
  iframe{
  margin-bottom: 0vh;
  }
}
@media screen and (min-width:800px){
  iframe{
    height: 50vw;
  }
}
.cen{
    padding-left: 500px;
}
.error{
    padding-left: 35px;
    color: red;
}

.burger div{
  width: 35px;
  height: 4px;
  background: white;
  margin: 7px;
}

.burger{
  cursor: pointer;
}
header{
  display: flex;
  justify-content: flex-end;
}

.nav-active{
  transform: translateX(0%);
}

@media screen and (max-width: 1110px){

    .nav-links{
      position: fixed;
      right: 0px;
      height: 94vh;
      width: 70%;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(102%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li a{
      border: none;
      border-radius: 0px;
      color: white;
    }
    .nav-links li a:hover{
      transform: scale(1);
      color: white;
    }
    .nav-active{
      transform: translateX(0%);
    }
  }
header{
  text-align: center;
  font-family: sans-serif;
  position: relative;
  z-index:99;
  background:rgba(255,255,255,0.2);
  width:100%;
  padding: 0.6% 0%;
  list-style: none;
  background: black;
}

@media screen and (max-width: 1109px){
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  header li{
    width: 100%;
  }
  header li:hover{
    background-color: rgba(255,255,255,0.4);
    transform: scale(1);
    color: white;
  }
  .current{
    background: white;
  }

}

header li{
  display:block;
  margin: 0% 0.1%;
}

header li a{
  display:inline-block;
  text-decoration: none;
  font-size: 170%;
  color:  white;
  border: white solid;
  padding: 1vh 0.25vh;
  width: 200px;
  transition:  transform 0.5s;
  border-radius: 25px;
}

@media screen and (min-width:1110px){
  header li{
    display: inline-block;
    margin: 0% 0.05%;
  }

  header{
    display: block;
  }
  .nav-links{
    display: block;
  }
  .burger{
    display: none;
  }
  header li a{
    padding: 1vh 0.1vh;
  }
}

@media screen and (min-width:1395px){
  header li{
    display: inline-block;
    margin: 0% 1%;
    padding: 1vh;
  }
}


.current a:hover{
  background: rgba(255,255,255,1);
  color: black;
}

@media screen and (min-width:1110px){
  header li a:hover{
    background-color: rgba(255,255,255,0.4);
    transform: scale(1.2);
  }
  header li:hover{
    background-color: rgba(255,255,255,0);
    transform: scale(1);
    color: white;
  }
}
.line{
  border-top: black
}

#slider{
  overflow: hidden;
  width:100%;
  position: relative;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
  z-index: 1;
}

#slider figure img{
  width:20% ;
  float: left;
}

.current a{
  background: rgba(255,255,255,1);
  color: black;
}

.sliding div{
  background: rgba(255,255,255,0.5);
  border:white solid;
  width: 5%;
  height: 1vh;
  display: inline-block;
  align-content: center;
  margin-left: 10%;
  position: relative;
  z-index: 9;
  border-radius: 20px;
}
.sliding{
  margin-top: -3%;
  margin-left: 20%;
}
#slider1{
  animation: 15s slider1 infinite;
}

#slider2{
    animation: 15s slider2  infinite;
}

#slider3{
    animation: 15s slider3  infinite;
}

#slider4{
    animation: 15s slider4  infinite;
}

@keyframes slider1{
  0%{
    background:white;
  }
  20%{
    background: white;
  }
  25%{
    background:rgba(255,255,255,0.5);
  }
  95%{
    background:rgba(255,255,255,0.5);
  }
  100%{
    background:white;
  }
}
@keyframes slider2{
  0%{
    background:rgba(255,255,255,0.5);
  }
  20%{
    background:rgba(255,255,255,0.5);
  }
  25%{
    background: white;
  }
  45%{
    background:white;
  }
  50%{
    background:rgba(255,255,255,0.5);;
  }
}

@keyframes slider3{
  0%{
    background:rgba(255,255,255,0.5);
  }
  45%{
    background: rgba(255,255,255,0.5);
  }
  50%{
    background:white;
  }
  70%{
    background: white;
  }
  75%{
    background: rgba(255,255,255,0.5);
  }
}

@keyframes slider4{
  0%{
    background:rgba(255,255,255,0.5);
  }
  70%{
    background:rgba(255,255,255,0.5);
  }
  75%{
    background: white;
  }
  95%{
    background:white;
  }
  100%{
    background:rgba(255,255,255,0.5);;
  }
}


@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left:-200%
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%
  }
  100%{
    left: -400%;
  }
}

.catalogues{
  overflow:scroll;
  overflow-y: hidden;
  margin: 0% 0%;
  padding: 0% 2%;
  padding-top: 20px;
  padding-bottom: 2%;
}
.catalogues div{
  width: 300%;
  position: relative;
}

.catalogues div img{
  border-style: solid;
  border-color: black;
  width:4.8%;
  float:left;
  transition: transform 0.75s, border-radius 0.75s;
  margin-right: 2px;
}


.catalogues div img:hover{
  transform: scale(1.2);
  z-index: 9;
  background: white;
  border-radius: 10%;
}
.browsecat{
  margin-top: 5%;
}
#browse{
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-variant:small-caps;
  font-size: 200%;
}

section.History{
  margin: 100px 0px;
  display: block;
  float: left;
  padding: 0% 2%;
}

.History h2{
  text-align: Center;
  font-size: 250%;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-variant:small-caps;
}

.History h3{
  text-align: Center;
  font-size: 270%;
  font-family: monospace;
  letter-spacing: 10px;
}

.History .line{
  width: 70%;
  border-top: rgba(0,0,0,0.5) solid;
  margin: 0% 15%;
  margin-bottom: 20px;
}

.History img{
  float:left;
  width:50%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 10px;
  transition: transform 0.7s;
  border: black solid;
}


.History img:hover{
  transform: scale(1.05);
  z-index: 99;
}
.History div p{
  font-size: 150%;
  font-family: cursive;
}

#Before-footer{
  border: bold black 200px;
}

footer{
  background: #242424;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

.footer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
}
#outer-footer{
  text-align: center;
  padding-top: 2vh;
}

#navigate, #news{
  padding-left: 20%;
  padding-top: 2vh;
}

#news a{
  color: white;
}
#news a:hover{
  color: orange;
}


#navigate a{
  display:block;
  margin: auto;
  color: #0494CB;
  margin-top: 5px;
  margin-left: 5%;
}

#navigate a:hover{
  color: white;
  letter-spacing: 2px;
}


.signupBox{
  position: relative;
  border-radius: 20px;
  padding: 2px;
  transition: 0.5s width, 0.5s margin;
  width: 100%;
}


#signup1{
    background: transparent;
    margin: transparent;
    color: white;
    border: none;
    font-size: 110%;
    border-bottom: white solid 1px;
    color: #0494CB;
}

#signup2{
  border-radius: 20px;
  font-size: 130%;
  border: none;
  align-self: center;
}
 #signup2:hover{
  background-color:#0494CB;
  border: none;
}


.social img:hover{
  opacity: 0.8;
}

.footer a{
  text-decoration: none;
}


.social img{
  width: 10%;
  text-align: left;
  margin: 0% 2%;
}

@media screen and (max-width:760px){
  .footer{
    grid-template-columns: repeat(1, 1fr);
  }
  .loader img{
    width: 20%;
    height: 20%;
  }
  #navigate{
    display: none;
  }
  .inner-footer{
    border-bottom: white solid 1px;
    padding-bottom: 2vh;
  }
  #news{
    padding-left: 5%;
  }
  .social img{
    width: 7%;
  }

}
@media screen and (min-width:0px) and (max-width:1019px) {
  #signup2{
    margin-top: 2vh;
  }

}

@media screen and (min-width:760px) and (max-width:1019px) {
  #signup2{
    margin-top: 1px;
  }

}

@media screen and (min-width:0px) and (max-width:480px) {
  .container{
    transform: scale(0.7);

  }

}



.footer
::-webkit-input-placeholder {
    color:    #F2F7F9 ;
}
:-moz-placeholder {
   color:    #F2F7F9 ;
}
::-moz-placeholder {
   color:    #F2F7F9 ;
}
:-ms-input-placeholder {
   color:    #F2F7F9 ;
}
::-ms-input-placeholder {
   color:    #F2F7F9 ;
}

::placeholder {
   color:    #F2F7F9 ;
}
.final{
  margin: 10px 0px;
  padding: 5px 0px 0px 0px;
  border-top: black solid;
  font-family: helvetica;
  text-align: center;
  width: 100%;
  font-size: 90%;
  letter-spacing: 1px;
}


.feedbackForm{
  border: black solid;
  position: absolute;
  width: 30%;
  padding: 2%;
  margin: 0% 30%;
  background: #3498DB ;
  font-family: sans-serif;
  border-radius: 5px;
  position: relative;
}

.feedbackForm input{
  margin-top: 2%;
  background: #212F3C;
  width: 100%;
  color: white;
  font-size: 120%;
}
.feedbackForm #textarea{
  width: 100%;
  font-size: 120%;
  margin-top: 2%;
  color: white;
  background: #212F3C;
  resize:none;
}

.feedbackForm #submit{
  background: #58D68D;
  width: 30%;
  border: transparent;
  font-variant: small-caps;
  margin: 0% 9.5%;
  padding: 1%;
  font-size: 150%;
  border-radius: 7.5px;
  border: #239B56 solid;
}
.feedbackForm #reset{
  background: #E74C3C ;
  width: 30%;
  border: transparent;
  font-variant: small-caps;
  margin: 0% 9.5%;
  padding: 1%;
  font-size: 150%;
  border-radius: 7.5px;
  border: #922B21 solid;
}

.History p::first-letter{
  font-size:200%;
}


.catalogues::-webkit-scrollbar {
  height:20px;
}

.catalogues::-webkit-scrollbar-track {
  background: rgba(209, 209, 209,0.5);
  border-radius: 20px;
  border: rgba(0,0,0,0.1) solid;
}

.catalogues::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #06dee1, #79ff6c);
  border-radius: 20px;
}

@media screen and (max-width:1000px){
.social, .news{
  display: block;
}
}


.nav-links li a:hover{
  color: white;
}

.nav-links .current a:hover{
  color: black;
}

.nav-links .current a{
  color: black;
}

@media screen and (max-width: 1109px){
#myCarousel{
  width: 100%;
  width: 100%;
}
}
